:root {
	--dark: #011627;
	--light: #fdfffc;
	--accent: #ff9f1c;
	--grey: #d9d9d9;
	--green: #2ec4b6;
	--red: #e71d36;
	--br: 5px;
}

/* General styles */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	background-color: var(--light);
	color: var(--dark);
	display: flex;
	flex-direction: column;
	/* min-height: 100vh; */
}

button {
	cursor: pointer;
	border-radius: var(--br);
	box-shadow: 1px 1px 2px var(--grey);
}

button:active {
	transform: scale(98%);
	border-color: var(--light);
	color: var(--light);
	box-shadow: none;
}

/* Styles for the header and footer sections */
header,
footer {
	background-color: var(--dark);
	color: var(--light);
	padding: 2rem;
}

header {
	border-bottom: 4px solid var(--accent);
}

footer {
	border-top: 4px solid var(--accent);
}

header h1 {
	font-size: 4.5rem;
	color: var(--accent);
	text-shadow: -1px 0 var(--light), 0 1px var(--light), 1px 0 var(--light),
		0 -1px var(--light);
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

header h1 span {
	font-size: 3rem;
	cursor: pointer;
	transition: transform 0.5s ease-out;
}

header h1 span:hover {
	transform: scale(95%);
}

header h1 span:active {
	transform: rotate(180deg);
}

form {
	display: flex;
	flex-wrap: wrap;
}

form > * {
	margin: 1rem 0.5rem;
	padding: 8px;
	border: 2px solid var(--grey);
	border-radius: var(--br);
	background-color: var(--light);
	outline: none;
}

form > *:hover {
	border-color: var(--accent);
}

form input[name='task-name'] {
	margin-left: 0;
	flex-basis: 50%;
}

form input[name='task-type'] {
	flex-basis: 30%;
}

form input:focus {
	border-color: var(--accent);
}

form button {
	background-color: var(--dark);
	color: var(--accent);
	margin-right: 0;
	flex-basis: calc(20% - 2rem);
}

/* Styles for the main section */
main {
	/* flex: 1 1 auto; /* flex: 1 1 0; or flex: 1; */
	flex: 1;
	display: flex;
	justify-content: space-between;
	padding: 2rem 1rem;
}

section {
	flex: 1;
	margin: 1rem;
	display: flex;
	flex-direction: column;
}

.section-title {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.task-list {
	flex: 1;
	list-style: none;
	background-color: var(--grey);
	border: 2px solid var(--dark);
	border-radius: var(--br);
	padding: 1rem 1rem 0 1rem;
}

/* classes applied dynamically to created tasks */
.task-item {
	color: var(--dark);
	padding: 1rem;
	background-color: var(--light);
	border: 2px solid var(--dark);
	border-radius: var(--br);
	margin-bottom: 1rem;
}

.task-name {
	display: inline;
	margin-right: 4px;
}

.task-type {
	font-size: 1rem;
}

.task-actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}

.task-actions > * {
	flex: 1 1;
	font-size: 1rem;
	border-radius: var(--br);
	outline: none;
	padding: 0.5rem;
}

.task-actions button {
	margin-right: 1rem;
}

.task-actions button.editBtn:hover {
	border-color: var(--green);
}

.task-actions button.editBtn:active {
	color: var(--green);
}

.task-actions button.deleteBtn:hover {
	border-color: var(--red);
}

.task-actions button.deleteBtn:active {
	color: var(--red);
}

.task-actions select {
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('../images/select-arrow.png');
	background-size: 1.2rem;
	background-repeat: no-repeat;
	background-position: right 2% top 50%;
}

.task-actions select:hover {
	border-color: var(--accent);
}

/* Media queries*/
@media screen and (max-width: 1200px) {
	main {
		flex-direction: column;
	}
	.section-title {
		font-size: 2.3rem;
	}
}

@media screen and (max-width: 900px) {
	form input[name='task-name'] {
		flex-basis: 100%;
	}
	form input[name='task-type'] {
		flex-basis: 60%;
		margin-left: 0;
	}
	form button {
		flex-basis: calc(40% - 2rem);
	}
}

@media screen and (max-width: 500px) {
	.task-actions select {
		flex-basis: 100%;
		margin-top: 10px;
	}
	.task-actions .deleteBtn {
		margin-right: 0;
	}
}
